.container {
    margin-bottom: 6rem;
}

.title {
    letter-spacing: -0.025em;
    font-weight: 800;
    color: var(--text-black);
    font-size: 3rem;
    line-height: 1;
}

.title1 {
    color: rgba(249, 250, 251, 1);
    text-shadow: var(--text-shadow-light) 0px 1px 2px;
}

.title2 {
    display: block;
    color: var(--text-blue);
}

.subtitle {
    margin-top: 0.75rem;
    font-size: 1.25rem;
    line-height: 2rem;
    color: var(--text-white-100);
    text-shadow: var(--text-shadow-dark) 0px 1px 1.5px;
    font-weight: 100;
}

.buttonWrapper {
    margin-top: 1.25rem;
}

.button {
    background-color: var(--text-blue);
    cursor: pointer;
    color: #fff;
    outline: 0;
    border: 0px;
    padding: 1rem 2.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.button:hover {
    background-color: var(--text-blue-dark);
}

/* 
    device breakpoints:
        sm: min-width: 640px
        md: min-width: 768px
        lg: min-width: 1024px
        xl: min-width: 1280px
        2xl: min-width: 1024px
*/

/** sm breakpoint **/
@media (min-width: 640px) {
  .title {
    font-size: 3rem /* 48px */;
    line-height: 1;
  }

  .subtitle {
    margin-top: 1.25rem;
    max-width: 36rem;
  }

  .buttonWrapper {
    display: flex;
    margin-top: 2rem;
  }
}

/** md breakpoint **/
@media (min-width: 768px) {
  .title {
    font-size: 3.75rem /* 60px */;
    line-height: 1;
  }

  .subtitle {
    margin-top: 1.25rem;
    font-size: 1.5rem;
  }

  .button {
    padding-top: 1rem /* 16px */;
    padding-bottom: 1rem /* 16px */;
    font-size: 1.125rem /* 18px */;
    line-height: 1.75rem /* 28px */;
    padding-left: 2.5rem /* 40px */;
    padding-right: 2.5rem /* 40px */;
  }
}

/** lg breakpoint **/
@media (min-width: 1024px) {
  .container {
    text-align: left;
  }

  .title {
    font-size: 4.5rem /* 72px */;
    line-height: 1;
  }

  .title2 {
  }

  .subtitle {
    margin-left: 0px;
    margin-right: 0px;
  }

  .buttonWrapper {
    justify-content: flex-start;
  }
}

/** xl breakpoint **/
@media (min-width: 1280px) {
  .title2 {
    display: inline;
    padding-left: 0.5rem;
  }
}