@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background: url("/static/background.png");

  background-position: 50%;
  background-repeat: no-repeat;
  /* background-size: cover; */
  color: #373b64;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
  font-weight: 600;
  font-family: inherit;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/* glass-morphism */
.glass {
  background: hsla(0, 0%, 100%, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid hsla(0, 0%, 100%, 0.2);
}

.glass:hover {
  background: hsla(0, 0%, 100%, 0.7);
  border: 1px solid #fff;
}

:root {
  --text-black: rgba(17, 24, 39, 1);
  --text-white-100: rgb(255, 255, 255);
  --text-blue: rgb(33, 22, 131);
  --text-blue-dark: rgb(20, 13, 79);
  --text-shadow-light: rgba(132, 132, 132, 0.85);
  --text-shadow-dark: rgba(76, 76, 76, 0.6);
}
